<style>
    .search-select-container {
        position: relative;
    }

    .agent-dropdownnn {
        position: absolute;
        top: 100%;
        left: 0;
        width: 50%;
        z-index: 1000;
        list-style: none;
        background-color: #fff;
        border: 1px solid #ccc;
        border-top: none;
        padding: 0;
        margin-top: 0;
        
        max-height: 200px; /* Optional: Set max height for dropdown */
        overflow-y: auto; /* Optional: Add vertical scrollbar */
    }

    .agent-dropdownnn li {
        padding: 5px 10px;
        cursor: pointer;
    }

    .agent-dropdown li:hover {
        background-color: #f0f0f0;
    }
</style>

  <div class="modal fade" id="agentModal-{{i.id}}" tabindex="-1" aria-labelledby="agentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{% url "update_assigned_agent" i.id %}" method="post" autocomplete="off">
            {% csrf_token %}
            <input type="hidden" name="query" value="{{ search_query }}">
            <input type="hidden" name="start_date" value="{{ start_date|date:'Y-m-d' }}">
            <input type="hidden" name="end_date" value="{{ end_date|date:'Y-m-d' }}">
            <input type="hidden" name="page" value="{{ page.number }}">
            <input type="hidden" name="redirect_to" value="{{request.get_full_path}}">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="agentModalLabel">Assigned To Agent</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <hr>
                <div class="modal-body">
                    {% if i.lead_status == "New Lead" %}
                        <label for="agentSearchInput-{{i.id}}" class="custom-form-label">Assigned To Agent</label>
                       
                        <div class="search-select-container">
                            
                            <input type="text" id="agent-search-{{i.id}}" placeholder="Type to search for an agent" class="form-control"/>  <!-- Search input -->
                            <input type="text" id="agentid-{{i.id}}" placeholder="Type to search for an agent" class="form-control" name="agentIdInput" hidden/>  <!-- Search input -->
                            
                            <ul id="agent-list-{{i.id}}" class="agent-dropdownnn">  <!-- List to display results -->
                                <!-- Results will be inserted here -->
                            </ul>
                        </div> 
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Frontend JavaScript -->

<script>
    $(document).ready(function() {
        $("[id^='agent-search']").on("input", function() {
            var $input = $(this);
            var id = $input.attr("id").split("-")[2];
            var query = $input.val();
            

            // Check if the query length is at least 4 characters
            if (query.length >= 3) {
                $.ajax({
                    url: "{% url 'agent_search' %}",
                    data: { q: query },
                    success: function(response) {
                        var results = response.results;
                        var $list = $("#agent-list-" + id);
                        $list.empty();

                        results.forEach(function(agent) {
                            var listItem = `<li data-agent-id="${agent.id}">${agent.text}</li>`;
                            $list.append(listItem);
                        });
                    },
                });
            } else {
                // If the query length is less than 4, clear the list
                $("#agent-list-" + id).empty();
            }
        });

        $("[id^='agent-list']").on("click", "li", function() {
            var $li = $(this);
            var agentName = $li.text();
            var agentId = $li.data("agent-id");
            
            var id = $li.closest(".modal").attr("id").split("-")[1];
            
            $("#agent-search-" + id).val(agentName); // Set input value
            $("#agentid-" + id).val(agentId); 
        });
    });
</script>

<script>
    document.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget; // Button that triggered the modal
        var modal = event.target; // The modal itself

        // Set hidden fields with current search parameters
        modal.querySelector('input[name="query"]').value = "{{ search_query }}";
        modal.querySelector('input[name="start_date"]').value = "{{ start_date|date:'Y-m-d' }}";
        modal.querySelector('input[name="end_date"]').value = "{{ end_date|date:'Y-m-d' }}";
        modal.querySelector('input[name="page"]').value = "{{ page.number }}";
    });
</script>

