{% load custom_filters %}

<div class="modal fade" id="viewemployee-{{i.assign_to_documentation_employee.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"

   aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="width:137%;">
      
        <div class="modal-header">
          
            <h5 class="modal-title" id="exampleModalLabel">Employee Code : {{i.assign_to_documentation_employee.emp_code}} </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
               aria-label="Close"></button>
            </div>
            <div class="container">
                <div class="row mb-2">
                  <div class="col-6">
                    First Name : {{i.assign_to_documentation_employee.users.first_name }} 
                  </div>
                  <div class="col-6">
                    Last Name : {{i.assign_to_documentation_employee.users.last_name }}
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-6">
                    Email : {{i.assign_to_documentation_employee.users.email }}
                  </div>
                  <div class="col-6">
                    Department : {{i.assign_to_documentation_employee.department }}
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-6">
                    Contact :{{i.assign_to_documentation_employee.contact_no }}
                  </div>
                  <div class="col-6">
                    Address :{{i.assign_to_documentation_employee.Address }}
                  </div>
                </div>
              </div>
              
           
        </div>
        
   </div>
</div>