<div class="modal fade" id="addnotesModal-{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form action="{% url "emp_add_notes" %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="redirect_to" value="{{request.get_full_path}}">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Notes</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
               aria-label="Close"></button>
            </div>
            <div class="notesmodal-body">
                <div class="content">
                <div class="header">
                    <div class="custom-form-label">Add Notes</div>
                </div>
                <textarea class="form-control" name="notes" id="" cols="50" rows="5" placeholder="Write text here ..."></textarea>
                
                <div style="margin-top: 5px;">
                    <input class="form-control" type="file" id="fileInput" name="file">
                    <input type="text" value="{{i.id}}" name="enq_id" hidden>
                </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class=""><input class="btn btn-color" type="submit" value="Save"></div>
            </div>
        </div>
        </form>
   </div>
</div>


<!-- JavaScript code -->
<script>
    document.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget; // Button that triggered the modal
        var modal = event.target; // The modal itself

        // Set hidden fields with current search parameters
        modal.querySelector('input[name="query"]').value = "{{ search_query }}";
        modal.querySelector('input[name="start_date"]').value = "{{ start_date|date:'Y-m-d' }}";
        modal.querySelector('input[name="end_date"]').value = "{{ end_date|date:'Y-m-d' }}";
        modal.querySelector('input[name="page"]').value = "{{ page.number }}";
    });
</script>